*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(248, 245, 238);
}
.log_in{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 60px;
    background-color: #03a9f4;
    width: 40%;
    max-width: 500px;
    height: 530px;
    border-radius: 30px;
}
.log_in h1{
    color: white;
    
}
.circle{
    background-image: url("../../img/user.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.btn{
    background-color: #4880f9;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid #4880f9;
}
form input{
    background-color: #bad3f6;
    border: 3px solid #4891f9;
    height: 22px;
    border-radius: 10px;
}
.log_in{
  width: 50%;
  max-width: 550px;
}